.forms_container {
    background-image: url('../img/pexels-ivan-samkov-forma.png');
    background-repeat:  no-repeat;
}
.forms_content {
    max-width: 1094px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.plug{
    width: 50%;
}
.forms_form_field {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.field_row{
width: 351px;
height: 383px;
margin-top: calc(80px + 31 * ((100vw - 320px) / (1440 - 320)));
margin-bottom: calc(80px + 27 * ((100vw - 320px) / (1440 - 320)));
margin-right: calc(5px + 26 * ((100vw - 320px) / (1440 - 320)));

}
@media (min-width:1440px){
.field_row{

    margin-top: 111px;
    margin-bottom: 105px;
}
}
.form_field_title {
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}
.form_field_telephon{
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px; 
}
.form_field_telephon span{
    color: #f7931e;
}
.forms_field{

    display: flex;
    flex-direction: column;
}
.form_input {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px; 
    color: white;
    background: transparent;
    border: none;
    outline:none;
    border-bottom: 2px solid white;
    padding: 15px 0;
    margin-bottom: 10px;
}

.form_input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}


.form_button_wrapper{
    left: 25px;
    position: relative;
    height: 60px;
    margin-bottom:20px;
    margin-left: 20px;
    margin-top: 20px;
}
.form_button_wrapper span{
    position: absolute;
    top: 20px;
    left:20px;
    font-family: Montserrat;
    font-weight: 400;
    color: white;
    font-size:16px;
    line-height: 20px;
    text-align: center;
    margin-left: 20px;
}


.form_post_button {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    height:60px;
    width: 260px;
    background: transparent;
    border: 1px solid white;
    transform: skew(-30deg, 0deg);
}
.form_post_button:hover {
    border: 1px solid #F7931E;

}


.political_agreement {
    display: block;
//   margin-top: 80px;
   color: rgba(255, 255, 255, 0.5);
   font-family: Montserrat;
   font-weight: 400;
   font-size:14px;
   line-height: 20px;
}
.political_agreement:hover {
color: #F7931E;
}
@media (max-width:660px){
 .plug{
    width: 45%;
 }
.forms_content{
 flex-direction: column;

}
.forms_form_field{
    width: 90%;
    margin: 0 10px;
}
.form_button_wrapper{
    left: 0px;
}
.form_post_button{
    width: 243px;
}
.form_button_wrapper span{
    left: 8px;
}
}