.header_container {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.1)  100%, rgba(0, 0, 0, 0.4) 100%), url('../img/bg-header.png');
    background-repeat: no-repeat;
    max-height: 950px;
    position: relative;
}
.header_container_contant {
    max-width: 1325px;
    margin: 0 auto;
}
.header_contant {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}
.header_logo {
    //z-index: 2;
}
.header_logo img{
    margin-top: calc(29px + 21 * ((100vw - 320px) / (1440 - 320))); 
    margin-left: calc(15px + 35 * ((100vw - 320px) / (1440 - 320))); 
}
.header_menu {
    width: calc(320px + 261 * ((100vw - 320px) / (1440 - 320)));
    
}
.header_menu_contant {
    display: flex;
    justify-content: space-between;
   max-width: 100%;
   margin-top: 65px;
}
.links_header_menu {

}

.tell{ display: none;}
.links_header_menu a{
    font-family: Montserrat;
    font-weight: 600;
    color: white;
    font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(17px + 3 * ((100vw - 320px) / (1440 - 320)));
}
.links_header_menu a:hover{
   color: #F7931E;
}
.header_phone {
 margin-left: 10px;
 z-index: 1;
 margin-top: 65px;
}
.header_phone a{
    font-family: Montserrat;
    font-weight: 600;
    color: white;
    font-size: 16px;
    line-height: 20px;
white-space: nowrap;
}
.header_phone a:hover{
    color: #F7931E;
 }



// -----------------------------------Бургер------------------------------


.burger_header {
    cursor: pointer;
    display: none;
    width: 22px;
    height: 22px;
    z-index: 1;
}

.header_burger_active {
    display: inline-block;
    position: relative;
    width: 19px;
    height: 2px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
}


.header_burger_active::before {
    position: absolute;
    left: -1px;
    top: 5px;
    content: '';
    width: 19px;
    height: 2px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;

}

.header_burger_active::after {
    position: absolute;
    left: -1px;
    bottom: 5px;
    content: '';
    width: 19px;
    height: 2px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;

}

.active-b span{
width: 0px;
border: none
};
.active-b span::after{
    transform: rotate(-45deg);
    width: 22px;
    bottom: -1px;
    transition: .4s;
}
.active-b span::before{
    transform: rotate(45deg);
    width: 22px;
    top: -1px;
    transition: .4s;

}


//-------------------------------------------------------------------------------


.header_container_one_screen {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}
.header_title_content-1 {
    max-width: 762px;
}
.title_header_one_screen {
    font-family: Montserrat;
    font-weight: 700;
    color: white;
    font-size: calc(48px + 16 * ((100vw - 320px) / (1440 - 320)));
    line-height: 68px;
    margin-top: calc(146px + 87 * ((100vw - 320px) / (1440 - 320)));
    text-align: center;
    white-space: nowrap;
}
.text_header_one_screen {
    font-family: Montserrat;
    font-weight: 500;
    color: white;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin: 35px 0;
}
.button_header_one_screen{
position: relative;
margin: 0 auto;
max-width: 290px;
}
.header_button_figure-1 {
    position: absolute;
    display: inline-block;
    height:60px ;
    width: 280px;
    background: #F7931E;
    top: 8px;
    transform: skew(-30deg, 0deg);
 
}

.header_button_figure-2{
    z-index: 1;
    position: absolute;
    top: 0px;
    display: inline-block;
    height:60px;
    width: 280px;
    background: transparent;
    border: 1px solid white;
    transform: skew(-30deg, 0deg);
    transition:top .6s;
    cursor: pointer;
}

.header_button_figure-2:hover{
    top: 9px;
    transition:top .6s
}

.get_consult{
    
    position: absolute;
    top: 8px;
    left: 38px;
    padding: 12px 7px;
    font-family: Montserrat;
    font-weight: 700;
    color: white;
    font-size: 16px;
    line-height: 20px;
    transition:top .6s
}
.active_a{
    top: 18px;
    transition:top .6s
}

.header_title_content-2 {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: calc(211px + 145 * ((100vw - 320px) / (1440 - 320))) 0 calc(50px + 7 * ((100vw - 320px) / (1440 - 320))) 0;   
}
.empty_block{
    width: 57px;
}



.header_arrow_down_one_screen {
    cursor: pointer;
    //transform: translateY(0px);
    animation-name: arrow-anima;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes arrow-anima{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.social-icon_one_screen {
    margin-right: 15px;
}
.icon-Instagram {
    color: #ffffff;
    margin-right: 15px;
}
.icon-Vkontakte {
    color: #ffffff;

}

@media (min-width:1440px) {
    .title_header_one_screen {
        font-size: 64px;
        margin-top: 233px;
    }
    .header_title_content-2 {
        margin: 356px 0 57px 0;   
    }
}

@media (max-width: 768px) {

    .header_menu {
        position: absolute;
        top: 109px;
        padding-left:8px;
        width: 100%;
    }
    
    .header_menu_contant{
        margin: 0 auto;
        width:  calc(320px + 408 * ((100vw - 320px) / (1440 - 320)));
     }
     .title_header_one_screen {
        white-space: normal;
     }
 }

 @media (max-width: 520px) {
    .header_menu {
        //display: none;
        transform: translateY(-100%);
        padding-top: 95px;
        position: fixed;
        top: 0px;
        background: black;
        //transition-duration: .8s;
    }

    .header_menu_show{
        transform: translateY(0%);
        transition-duration: .8s;
        z-index: 1;
    }
    .header_menu_contant{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        width: 320px;
       padding-bottom: 15px;
    }
    .links_header_menu{
        text-align: center;
        width: 150px;
        margin-bottom: 15px;
    }
    .tell {
        display: inline-block;
    }
    .header_phone{
        display: none;
    }

    .burger_header{
        display: block;
    }
 
 }

@media (min-width: 1440px){

    .header_logo img{
        margin-top: 50px; 
        margin-left: 50px; 
    }
}




// Фигуры на с фоне
.figure-1 {
    position: absolute;
    position: relative;
    top: -69px;
    left: -5%;
}
.figure-1 :first-child {
    position: absolute;
    display: inline-block;
    height:calc(84px + 36 * ((100vw - 320px) / (1440 - 320)));
    width: 36px;
    left: 30px;
    background: #F7931E;
    top: 0px;
    transform: skew(35deg, 0deg);
}
.figure-1 :last-child {
    position: absolute;
    top: 0px;
    display: inline-block;
    height:calc(66px + 26 * ((100vw - 320px) / (1440 - 320)));
    width: 35px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    transform: skew(35deg, 0deg);
}



//.figure-2 {
//    position: absolute;
//    position: relative;
//    width:   calc(200px + 208 * ((100vw - 320px) / (1440 - 320)));
//    height:  calc(262px + 267 * ((100vw - 320px) / (1440 - 320)));
//    bottom:   calc(-61px + 411 * ((100vw - 320px) / (1440 - 320)));
//    left: 0px;
//}
//.figure-2 :nth-child(1) {
//    z-index: 1;
//    position: absolute;
//    display: inline-block;
//    height:calc(84px + 36 * ((100vw - 320px) / (1440 - 320)));
//    width: 51px;
//    left: 60px;
//    background: #F7931E;
//    top: 0px;
//    transform: skew(35deg, 0deg);
//}
//.figure-2 :nth-child(2) {
//    position: absolute;
//    top: 0px;
//    display: inline-block;
//    height:calc(66px + 26 * ((100vw - 320px) / (1440 - 320)));
//    width: 45px;
//    background: transparent;
//    border: 1px solid rgb(255, 255, 255);
//    transform: skew(35deg, 0deg);
//}
//.figure-2 :nth-child(3) {
//    position: absolute;
//    display: inline-block;
//    height:calc(204px + 216 * ((100vw - 320px) / (1440 - 320)));
//    width: 115px;
//    left: 0px;
//    background: #000000;
//    top: -110px;
//    transform: skew(35deg, 0deg);

//}


