//Основной файл. Импортирует все остальные стилевые файлы
@import "./helpers/fonts.scss";
@import "./helpers/_global.scss";
@import "./helpers/_libs.scss";
@import "./helpers/_mixin.scss";
@import "./helpers/_normalize.scss";
@import "./helpers/_variables.scss";
@import "./header.scss";
@import "./new_image_life.scss";
@import "./gallery.scss";
@import "./abonement.scss";
@import "./treners.scss";
@import "./forms.scss";
@import "./contacts_maps.scss";
@import "./modal.scss";
@import "./footer.scss";



body{
    background-color: rgb(116, 116, 116);
}



.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    
}


.main_container{
    overflow: hidden;

}